name: Snyk SCA

on:
  workflow_dispatch:
  workflow_call:

jobs:
  security:
    name: Snyk Dependency Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/setup@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          run: |
            # Ensure the Maven wrapper has execution permissions
            chmod +x mvnw
            # Run the scan using the environment's Java and Maven
            snyk test --sarif-file-output=snyk.sarif --severity-threshold=high 

      - name: Upload Snyk results to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk.sarif
