name: Snyk SCA

on:
  workflow_dispatch:
  workflow_call:

jobs:
  sca_scan:
    name: Snyk Dependency Scan
      runs-on: ubuntu:latest

      steps:
      - name: Checkout code
          uses: actions/checkout@v4

      - name: Run Snyk to check for vulnerabilities
          uses: snyk/actions/maven@master
          env:
            SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          with:
            args: --severity-threshold=high

      - name: Upload Snyk results to GitHub Code Scanning
          if: always()
          uses: github/codeql-action/upload-sarif@v3
          with:
            sarif_file: snyk.sarif
